.banner-Pics {
    box-sizing: border-box;
    width: 90%;
    margin: 0.4rem auto 0;
}

.slick-prev:before,
.slick-next:before {
    color: black;

    &:after {
        color: black;
    }
}

.slick-prev,
.slick-next {
    color: black;
}


@media (max-width: 991.98px) {
    .banner-Pics {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    .banner-Pics {
        width: 100%;
        margin: 0 auto;
    }
}