.container {
    max-width: 1200px;
    margin: 0 auto;
}

#signup-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5rem;

    .stay-container {
        font-family: 'PT Sans', sans-serif;
        display: flex;
        flex-direction: column;
        width: 28%;

        h2 {
            font-weight: bold;
            font-size: 1.2rem;
            color: #272727;
        }

        p {
            padding-top: 1rem;
            font-size: 1rem;
            color: #272727;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        font-family: 'PT Sans', sans-serif;

        label {
            text-transform: uppercase;
            ;
            font-weight: bold;
            letter-spacing: 1px;
            color: #272727;
        }

        .mail-container {
            display: flex;
            align-items: center;
            margin-top: 5px;
        }

        input {
            height: 2rem;
            width: 13rem;
        }

        input[type=email] {
            font-size: 1rem;
        }

        button {
            background-color: #4B708F;
            border: 0;
            height: 2.4rem;
            width: 7rem;
            color: white;
            font-family: 'PT Sans', sans-serif;
            letter-spacing: 3px;
            margin-left: 1.2rem;
        }
    }
}

#menuFooter {
    height: auto;
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;

}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-us {
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;

        span {
            margin-left: 10px;
        }

        &:hover {
            color: #207F96;
        }
    }

}

#columns-container {
    display: flex;
    width: 35%;
    justify-content: space-between;
}

.column-1 {
    ul {
        li {
            a {
                text-decoration: none;
                color: #272727;
                font-family: 'PT Sans', sans-serif;
                line-height: 2rem;
            }

            .fmenu-header {
                font-weight: bold;
                line-height: 2.5rem;
            }
        }
    }
}

#social-container {
    display: flex;
    flex-direction: column;

    span {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        line-height: 2rem;
    }
}

#footer-container {
    display: flex;

    ul {
        display: flex;

        li {
            padding: 10px 20px;
            position: relative;
            margin-top: 10px;

            a {
                text-decoration: none;
                color: #272727;
                font-family: 'PT Sans', sans-serif;
            }

            &:last-child:after {
                display: none;
            }

            &:after {
                content: "";
                width: 2px;
                height: 15px;
                background-color: #ccc;
                position: absolute;
                right: 0;
                top: 11px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    #signup-container {
        flex-direction: column;

        .stay-container {
            width: 95%;
            margin-top: 1.5rem;
            align-items: center;
        }

        form {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 1.5rem;
        }
    }

    #menuFooter {
        flex-direction: column;
        align-items: center;
    }

    .contact-container {
        width: 100%;
        align-items: center;
        font-size: 1.2rem;
    }

    #columns-container {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 2rem;

        .column-1 {
            width: 100%;
        }
    }

    #social-container {
        width: 100%;
        text-align: center;
        margin-top: 2rem;
        font-size: 1.6rem;
    }
}