$salesColor:#FAC493;
$green: #207F96;
$animate: all 0.2s ease-in-out;

header * {
    font-family: 'PT Sans', sans-serif;
}

#sales {
    background-color: $salesColor;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        width: 70%;

        li {
            list-style-type: none;
            font-weight: bold;

            i {
                font-style: italic;
            }

            a {
                color: black;
            }
        }
    }
}

#searchContainer {
    display: flex;
    align-items: center;

    input {
        border: 0;
        border-bottom: solid 1px #ccc;
        margin-left: 0.2em;
    }

    input:focus {
        outline: none;
    }

    ::placeholder {
        color: $green;
        opacity: 1;
        font-size: 1rem;
    }
}

h1 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    color: $salesColor;
    font-size: 2.5rem;
    width: 20%;
    text-align: center;
}

#loginButton {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

    svg {
        margin-left: 0.2em;
    }
}

#loginButton:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

#navContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px #ccc;
}

#navHeader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#mobileMenuIcon {
    display: none;
}

#toggle {
    display: none;
}

#mainNavContainer {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;

    .mobileSearch {
        display: none;
    }

    ul {
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;

        li {
            list-style-type: none;

            a {
                color: black;
                text-decoration: none;
                font-weight: bold;
                position: relative;
            }
        }
    }
}

.borderlessButton {
    padding: 0;
    border: none;
    background: none;
}

.svg-icon {
    width: 1.5em;
    height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: $green;
}

.svg-icon circle {
    stroke: $green;
    stroke-width: 1;
}

.mobIcon {
    display: none;
    color: $green;
    font-size: 2rem;
    text-align: center;
}

#placeholder {
    height: 7rem;
    width: 100%;
    display: none;
}

@media (min-width: 991.99px) {
    #mainNavContainer {
        display: flex !important;
    }

    .links {
        padding: 20px 20px;

        &:hover {
            color: $green !important;
        }

        &:after {
            position: absolute;
            content: '';
            height: 2px;
            bottom: -3px;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 0;
            transition: .5s;
        }

        &:hover:after {
            width: 25%;
            background: $green;
        }
    }
}

@media (max-width: 991.98px) {
    header {
        position: fixed;
        z-index: 3;
        background-color: white;
        width: 100%;
    }

    .mobIcon {
        display: block;
        padding: 0.5rem 1rem;
        z-index: 3;
        border-radius: 5px 5px 0px 0px;
        outline-style: none;
    }

    #sales>ul {
        width: 100%;
    }

    #mainNavContainer {
        flex-basis: 100%;
        z-index: 3;
        background-color: #F5E5D9;

        form {
            border-top: 3px solid rgb(247, 222, 203);
        }
    }

    #searchContainer {
        display: none;

        button {
            padding: 0 1rem;

            svg {
                stroke: black;
                fill: black;

                path {
                    fill: black;
                }
            }
        }
    }

    #navContainer {
        border-bottom: 0;

        label {
            display: block;
            color: $green;
            font-size: 2rem;
            width: 100%;
            text-align: center;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            span {
                color: #207F96;
                font-weight: bold;
            }
        }
    }

    #navHeader {
        margin-top: 0.5rem;

        h1 {
            margin-top: 0;
            font-size: 3rem;
        }
    }

    #mainNavContainer {
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: none;

        form {
            height: 3rem;
        }

        #searchContainer {
            display: flex;
            width: 100%;
            border-bottom: solid 3px white;

            input[type="search"] {
                height: 3rem;
                width: 85%;
                border-bottom: 0;
                font-size: 1.7rem;
            }

            button {
                font-size: 1.7rem;
                height: 3rem;
                margin-left: 1rem;

                svg {
                    font-size: 1.5rem;
                }
            }

            ::placeholder {
                font-size: 1.7rem;
                color: black;
                opacity: 0.6;
            }
        }

        ul {
            flex-direction: column;
            width: 100%;
            align-items: center;

            li:nth-of-type(5) {
                order: 1;
            }

            li:nth-of-type(1) {
                order: 2;
            }

            li:nth-of-type(2) {
                order: 3;
            }

            li:nth-of-type(3) {
                order: 4;
            }

            li:nth-of-type(4) {
                order: 5;
            }

            li:nth-of-type(6) {
                order: 6;
            }

            li:nth-of-type(7) {
                order: 7;
            }

            li:nth-of-type(8) {
                order: 8;
            }

            li:nth-of-type(9) {
                order: 9;
            }

            li {
                width: 100%;
                font-size: 1.7rem;
                line-height: 3rem;
                border-bottom: solid 3px white;
                text-align: center;

                a {
                    display: block;
                }
            }
        }
    }

    #loginButton {
        font-size: 1.5rem;

        span {
            display: block;
            font-size: 1.2rem;
        }
    }

    #placeholder {
        display: block;
    }
}

@media (max-width: 767.98px) {
    .mobIcon {
        display: block;
    }

    #sales {
        display: none;
    }

    #searchContainer {
        display: none;
    }

    #navContainer {
        label {
            display: block;
            color: $green;
            font-size: 2rem;
            width: 100%;
            text-align: center;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            span {
                color: #207F96;
                font-weight: bold;
            }
        }

        #toggle {
            display: none;
        }
    }

    #navHeader {
        h1 {
            margin-top: 0;
            font-size: 3rem;
        }
    }

    #mainNavContainer {
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: none;

        form {
            height: 3rem;
        }

        #searchContainer {
            display: flex;
            width: 100%;
            border-bottom: solid 3px white;

            input[type="search"] {
                height: 3rem;
                width: 85%;
                border-bottom: 0;
                font-size: 1.7rem;
                margin-left: 1rem;
            }

            button {
                font-size: 1.7rem;
                height: 3rem;
                margin-left: 2rem;

                svg {
                    font-size: 1.5rem;
                }
            }

            ::placeholder {
                font-size: 1.7rem;
            }
        }

        ul {
            flex-direction: column;
            width: 100%;
            align-items: center;

            li:nth-of-type(5) {
                order: 1;
            }

            li:nth-of-type(1) {
                order: 2;
            }

            li:nth-of-type(2) {
                order: 3;
            }

            li:nth-of-type(3) {
                order: 4;
            }

            li:nth-of-type(4) {
                order: 5;
            }

            li:nth-of-type(6) {
                order: 6;
            }

            li:nth-of-type(7) {
                order: 7;
            }

            li:nth-of-type(8) {
                order: 8;
            }

            li:nth-of-type(9) {
                order: 9;
            }

            li {
                width: 100%;
                font-size: 1.7rem;
                line-height: 3rem;
                border-bottom: solid 3px #fff;
                text-align: center;

                a {
                    display: block;
                }
            }
        }
    }

    #toggle:checked+#mainNavContainer {
        display: block;
    }

    #loginButton {
        span {
            display: block;
            font-size: 1.2rem;
            content: "login";
        }
    }

    #placeholder {
        display: block;
        height: 4.5rem;
    }
}