@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i&display=swap');

#unique-Banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.unique-Banner {
    width: 95%;
    height: auto;
}

#support-Banner-Container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.supBanner {
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 430px;

    a {
        text-decoration: none;
        height: 100%;
    }

    img {
        width: 100%;
    }

    .site {
        color: darkorange;
        font-family: 'PT Sans', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 1rem;
    }

    .info {
        color: #272727;
        font-family: 'Playfair Display', serif;
        margin-top: 1rem;
        line-height: 2rem;
    }
}

.insta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    img {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 991.98px) {
    .unique-Banner {
        width: 100%;
    }

    #support-Banner-Container {
        flex-wrap: wrap;
        ;

        .supBanner {
            margin-bottom: 3rem;
            height: auto;
            background-color: #f6f6f6;
            padding: 5px;
        }
    }
}